# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/sp

# Test binary, build with `go test -c`
*.test

# Test coverage tool output
coverage.txt

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Local workspace
.virtualgo
.vscode
