language: go

env:
  - GO111MODULE=on GOPROXY=https://proxy.golang.org

go:
- 1.12.x

# Only clone the most recent commit.
git:
  depth: 1

# Don't email me the results of the test runs.
notifications:
  email: false

script:
  - go test -v -race -coverprofile=coverage.txt -covermode=atomic ./libsp

after_success:
  - bash <(curl -s https://codecov.io/bash)
